.image-round{
    border-radius: 100%;
}

footer{
   background-color:#f0f0f0;
    padding: 20px, 0;
}



.slideTextBG{
    background-color:rgba(0,0,0,0.6);
}

.classesBG{
    background-color:teal;
}
